{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "javascript.format.insertSpaceBeforeFunctionParenthesis": true
}
