:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
  overflow-x: hidden;
  /* Each PrimeReact theme has its own font family so it is suggested to apply it */
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
}
